<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />
<style>
  @media(max-width: 500px){
	
	.table thead{
		display: none;
	}

	.table, .table tbody, .table tr, .table td{
		display: block;
		width: 100%;
	}
	.table tr{
		margin-bottom:15px;
	}
	.table td{
		text-align: right;
		padding-left: 50%;
		text-align: right;
		position: relative;
	}
	.table td::before{
		content: attr(data-label);
		position: absolute;
		left:0;
		width: 50%;
		padding-left:15px;
		font-size:15px;
		font-weight: bold;
		text-align: left;
	}
}

</style>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>
</head>
<body>
  


  <div class="container">
    <table id="productsTable" class="display">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Mobile</th>
          <th>status</th>
          <th>Image</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% if (users.length> 0) { %>
          <% for (let i=0; i < users.length; i++) { %>
            <tr>
              <td data-label="Name">
                <%= users[i].name %>
              </td>
              <td data-label="Email">
                <%= users[i].email %>
              </td>
              <td data-label="Mobile">
                <%= users[i].mobile %>
              </td>
              <td data-label="Status">
                <% if (users[i].is_blocked===1) { %>
                  Blocked
                  <% } else if (users[i].is_blocked===0) { %>
                    Active
                    <% } %>
              </td>
              <td data-label="Image">
                <img src="/userImages/<%= users[i].image %>" width="50" height="50" alt="<%= users[i].image %>">
              </td>
              <td data-label="Action">
                <a class="btn btn-primary" href="/admin/blockuser?id=<%= users[i]._id %>">
                  <i class="fas fa-lock"></i>
                  <% if (users[i].is_blocked===1) { %>
                    Unblock
                    <% } else if (users[i].is_blocked===0) { %>
                      block
                      <% } %>
                </a>
              </td>
            </tr>
            <% } %>
              <% } else { %>
                <tr>
                  <td colspan="5">Users not found</td>
                </tr>
                <% } %>
      </tbody>
    </table>
  </div>

  <br>
  <a href="/admin/home" class="btn btn-primary">
    <i class="fas fa-home"></i> Go to Home
  </a>


  <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.9.0/dist/sweetalert2.all.min.js"></script>
  <script>
    $(document).ready(function () {
     $('#productsTable').DataTable();
   });
  </script>
<script>
  function confirmRemove(productId) {
      Swal.fire({

        title: 'Edit Product',
        text: 'Are you sure you want to edit this product?',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes',
        cancelButtonText: 'No',
      }).then((result) => {
        if (result.isConfirmed) {
          // If the user clicks "Yes," proceed to the edit page
          window.location.href = '/admin/delete-user/' + productId;
        }
      });
    }
</script>

  

</body>
</html>
