<%- include('../layouts/header.ejs') %>
    <%- include('./userheader.ejs') %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wallet History</title>
    <link rel="stylesheet" href="styles.css">
    <style>
        
@media(max-width: 500px){
	
	.table thead{
		display: none;
	}

	.table, .table tbody, .table tr, .table td{
		display: block;
		width: 100%;
	}
	.table tr{
		margin-bottom:15px;
	}
	.table td{
		text-align: right;
		padding-left: 50%;
		text-align: right;
		position: relative;
	}
	.table td::before{
		content: attr(data-label);
		position: absolute;
		left:0;
		width: 50%;
		padding-left:15px;
		font-size:15px;
		font-weight: bold;
		text-align: left;
	}
}

        .wallet-history-container {
            max-width: 800px;
            margin: 50px auto;
            background-color: #fff;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            text-align: center;
            color: #333;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        thead {
            background-color: #f2f2f2;
        }

        tbody tr:hover {
            background-color: #f5f5f5;
        }
    </style>
</head>
<body>
    <%- include('sidebar.ejs') %>
    <section class="is-title-bar">
        <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
          <ul>
            <li>my profile</li>
            <li><h1 class="text-dark">wallet history</h1></li>
          </ul>
         
        </div>
      </section>
    <div class="wallet-history-container">
        <h1>Wallet History</h1>
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Amount</th>
                    <th>Status</th>
                    <th>Balance</th>
                </tr>
            </thead>
            <tbody>
                <% wallethistory.forEach(element => { %>
                    <tr>
                        <td data-label="Date"><%= new Date(element.createdAt).toLocaleDateString() %></td>
                        <td data-label="Amount"><%= element.amount %></td>
                        <td data-label="Status"><%= element.status %></td>
                        <td data-label="Balance"><%= element.Balance %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</body>
</html>
